[Unit]
Description=Sign Language Translator Service
After=network-online.target sound.target
Wants=network-online.target

[Service]
Type=simple
User=hamada
WorkingDirectory=/home/hamada/sign-translator

# Wait longer after boot
ExecStartPre=/bin/sleep 10

ExecStart=/usr/bin/python3 -u /home/hamada/sign-translator/translator.py

Restart=no

Environment=PYTHONUNBUFFERED=1
Environment=DISPLAY=:0
Environment=XDG_RUNTIME_DIR=/run/user/1000
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target

